.main_board {

}
.topic, .profile, .content, .comment{
	border: 2px solid #bbb;
	border-radius: 10px;
	padding: 10px;
	margin: 5px;
}

.profile, .content{
	height: 100px;
}

.comment, .content{
	word-wrap: break-word;
}

.topic {
	background-color: #95e9c0;
	margin: 15px 0;
}
.profile, .content, .comment {
	background-color: #fff;
}

.time {
	font-size: 10px;
	color: #555;
}