.container {
	margin-bottom: 30px;
}
.topic{
	border: 1px solid #bbb;
	border-bottom: 0px;
	padding: 10px;
}
.topic.first{
	border-radius: 5px 5px 0 0;
}
.topic.last{
	border-radius: 0 0 5px 5px;
	border-bottom: 1px solid #bbb;
}

.profile.profile-topic {
	height: 50px;
	width: 50px;
}
.profile.profile-comment {
	height: 30px;
	width: 30px;
}

.radius {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.content.content-topic{
	height: 60px;
}
.content.content-comment{
	height: 30px;
}

.content{
	word-wrap: break-word;
}
.commentAll{
	display: none;
	overflow: hidden;
}

.topic {
	cursor: pointer;
	background-color: #fff;
}
.profile, .content {
	background-color: #fff;
}

.topic-name{
	display: inline-block;
}
.time {
	display: inline-block;
	font-size: 10px;
	color: #555;
}


/*  Animation  */

