<!DOCTYPE html>
<html ng-app="forum">
<head>
	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/main.css" />
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/ui.js"></script>
	

</head>

<body>
<div class="container" ng-controller="ContentCtrl">
	<div class="col-sm-3 info">
		<img class="profile profile-topic" ng-src="https://graph.facebook.com/{{profile.id}}/picture?width=200&height=200"/>
		<p>
			{{profile.first_name}}
			{{profile.last_name}}
		</p>
		<div class="col-sm-12 input">
			<form ng-submit='post_topic(topic)'>
				<input class="col-sm-offset-1 col-sm-10 input-comment" id="input-topic" ng-model="topic">
				<button type="submit" class="button-submit">推文</button>
			</form>
		</div>
	</div>
	
	<div class="col-sm-7">
		<div class="col-sm-12 topic" ng-repeat="topic in data" ng-class="{first: $first, last: $last }">
			<div class="col-sm-12 topic-header">
				<div class="col-sm-2">
					<img class="profile profile-topic" ng-src="https://graph.facebook.com/{{topic.Member_ID}}/picture?width=200&height=200"/>
				</div>
				<div class="col-sm-10">
					<div class="name topic-name">{{topic.MEMBER_FIRSTNAME}} {{topic.MEMBER_LASTNAME}}</div>
					<div class="time">{{formattedTime(topic.Topic_PostTime)}}</div>
					<div class="content content-topic">{{topic.Topic_Content}}</div>
				</div>
			</div>
			
			<div class="col-sm-12 comment-header">
				<div class="col-sm-12 input">
					<div class="col-sm-2">
						<img class="profile profile-comment" ng-src="https://graph.facebook.com/{{profile.id}}/picture?width=200&height=200"/>
					</div>
					<form class="col-sm-10" ng-submit='post_comment(topic.Topic_ID,comment[topic.Topic_ID])'>
						<input class="col-sm-11 input-comment" ng-model="comment[topic.Topic_ID]"><button type="submit" class="button-submit">推文</button>
					</form>
				</div>
				<div class="comment col-sm-12" ng-repeat="comment in topic.comments">
					<div class="col-sm-2">
						<img class="profile profile-comment" ng-src="https://graph.facebook.com/{{comment.Member_ID}}/picture?width=200&height=200"/>
					</div>
					<div class="col-sm-10">
						<div class="name topic-name">{{comment.MEMBER_FIRSTNAME}} {{comment.MEMBER_LASTNAME}}</div>
						<div class="time">{{formattedTime(comment.Comment_PostTime)}}</div>
						<div class="content content-comment">{{comment.Comment_Content}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<script type="text/javascript" src="js/login.js"></script>
<script type="text/javascript">
	check_index('login');
</script>
</body>
</html>