<!DOCTYPE html>
<html ng-app="forum">
<head>
	<script src="node_modules/socket.io/node_modules/socket.io-client/socket.io.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/main.css" />
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controllers.js"></script>
	<script type="text/javascript" src="bower_components/angular-socket-io/socket.js"></script>

</head>

<body>
<div class="container">

	<form>
		<input id="m">
	</form>

	<div id="messages"></div>
		
	<div class="main_board" ng-controller="ContentCtrl">
	

		<div class="col-sm-12 topic" ng-repeat="topic in data">
			<div class="col-sm-2 profile">profile</div>
			<div class="col-sm-9">
			<div class="content">{{topic.Topic_Content}}</div>
			<div class="comment" ng-repeat="comment in topic.comments">{{comment.Comment_Content}}</div>
		</div>
		
	</div>

</div>
	<script>
	
	
	</script>
</body>
</html>